
    <div class="container mx-auto mt-4">
        <div class="row">
            <div class="col-md-4">
                <a href="#" (click)="detailsCall()">
                <div class="card" style="width: 18rem;" >
                    <img src="{{recipe.imagePath}}" class="card-img-top" alt="{{recipe.name}}" >
                    <div class="card-body">
                        <h5 class="card-title">{{recipe.name}}</h5>
                        <p class="card-text">{{recipe.discription}}</p>
                    </div>
                </div>
            </a>
        </div>       
        </div>
    </div>

