
    <div class="container mx-auto mt-4"> 
        <div class="row">
            <div class="col-md-4">
                <a style="cursor: pointer;" [routerLink]="[index]" style="text-decoration: none;" >
                <div class="card" style="width: 18rem;" >
                    <img src="{{recipe.imagePath}}" class="card-img-top" alt="{{recipe.name}}" >
                    <div class="card-body">
                        <h3 class="card-title">{{recipe.name}}</h3>
                        <p class="card-text">{{recipe.discription}}</p>
                    </div>
                </div>
            </a>
        </div>       
        </div>
    </div>

